# Éditeur
.vscode/


# Notes
.md

# Fichier d'environnement
.env

# Ancienne référence inutile
/mysql-data/

# Ignore tout le dossier database...
/database/*

# ...sauf le script d'init
!/database/init/
!/database/init/init.sql
