.error-page {
  text-align: center;
  padding: 50px;
}

.error-page h1 {
  font-size: 3rem;
  color: #ff5555;
  margin-bottom: 1rem;
}

.error-page p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.error-page a {
  background-color: #7aa2f7;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.error-page a:hover {
  background-color: #4c80d1;
}
